<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>CFBundleDevelopmentRegion</key><string>en</string>
  <key>CFBundleDisplayName</key><string>SlayDown Markdown Preview</string>
  <key>CFBundleExecutable</key><string>FolioQuickLook</string>
  <key>CFBundleIdentifier</key><string>dev.mdquickviewer.folio.QuickLook</string>
  <key>CFBundleInfoDictionaryVersion</key><string>6.0</string>
  <key>CFBundleName</key><string>FolioQuickLook</string>
  <key>CFBundlePackageType</key><string>XPC!</string>
  <key>CFBundleShortVersionString</key><string>0.3.0</string>
  <key>CFBundleVersion</key><string>1</string>
  <key>LSMinimumSystemVersion</key><string>12.0</string>
  <key>NSExtension</key>
  <dict>
    <key>NSExtensionPrincipalClass</key><string>FolioQuickLook.PreviewProvider</string>
    <key>NSExtensionPointIdentifier</key><string>com.apple.quicklook.preview</string>
    <key>NSExtensionAttributes</key>
    <dict>
      <key>QLIsDataBasedPreview</key><true/>
      <key>QLSupportsSearchableItems</key><false/>
      <key>QLSupportedContentTypes</key>
      <array><string>net.daringfireball.markdown</string></array>
    </dict>
  </dict>
</dict>
</plist>
